<%- include("_header") -%>
<br>
<h2>Create New Customer</h2>

<form>
    <table>
        <tr>
            <td><label for="cusId">ID</label>:</td>
            <td><input type="text" name="cusId" id="cusId" type="number" required /></td>
            <td>(Required)</td>
        </tr>
        <tr>
            <td><label for="cusFname">First Name</label>:</td>
            <td><input type="text" name="cusFname" id="cusFname" required /></td>
            <td>(Required)</td>
        </tr>
        <tr>
            <td><label for="cusLname">Last Name</label>:</td>
            <td><input type="text" name="cusLname" id="cusLname" required /></td>
            <td>(Required)</td>
        </tr>
        <tr>
            <td><label for="cusState">State</label>:</td>
            <td><input type="text" name="cusState" id="cusState" /></td>
        </tr>
        <tr>
            <td><label for="cusSalesYTD">Sales YTD</label>:</td>
            <td><input type="number" name="cusSalesYTD" id="cusSalesYTD" /></td>
        </tr>
        <tr>
            <td><label for="cusSalesPrev">Previous Years Sales</label>:</td>
            <td><input type="number" name="cusSalesPrev" id="cusSalesPrev" /></td>
        </tr>
        <tr>
            <td span="2">
                <input type="submit" value="Create" />
                <input type="reset" value="Reset" />
            </td>
        </tr>
    </table>
</form>

<%- include("_footer") -%>